In [2]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("/Users/baveja/Desktop/timecard.csv")
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
0,WFS000054,Active,NaN,NaN,NaN,NaN,NaN,"SiWgh, PraGhjEM",54
1,WFS000065,Active,09/12/23 10:08,09/12/23 13:53,3:45,09/10/23,09/23/2023,"REsaXiaWE, XAis",65
2,WFS000065,Active,09/12/23 14:23,09/12/23 19:02,4:39,09/10/23,09/23/2023,"REsaXiaWE, XAis",65
3,WFS000065,Active,09/13/2023 10:08 AM,09/13/2023 02:20 PM,4:12,09/10/23,09/23/2023,"REsaXiaWE, XAis",65
4,WFS000065,Active,09/13/2023 02:50 PM,09/13/2023 08:44 PM,5:54,09/10/23,09/23/2023,"REsaXiaWE, XAis",65

In [13]:
df['Time']=pd.to_datetime(df['Time'])
df['Time Out']=pd.to_datetime(df['Time Out'])
df.head()

/var/folders/gr/6p4hxyfx18n8wmch85wj_b440000gn/T/ipykernel_64766/857118230.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time Out']=pd.to_datetime(df['Time Out'])

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
0,WFS000054,Active,NaT,NaT,NaN,NaN,NaN,"SiWgh, PraGhjEM",54
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,09/10/23,09/23/2023,"REsaXiaWE, XAis",65
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,09/10/23,09/23/2023,"REsaXiaWE, XAis",65
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,09/10/23,09/23/2023,"REsaXiaWE, XAis",65
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,09/10/23,09/23/2023,"REsaXiaWE, XAis",65

In [14]:
df.sort_values(by=['Employee Name', 'Time'], inplace =True)
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
1463,WFS000588,Active,2023-09-13 10:40:00,2023-09-13 15:00:00,4:20,09/10/23,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588
1464,WFS000588,Active,2023-09-13 15:30:00,2023-09-13 20:07:00,4:37,09/10/23,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588
1465,WFS000588,Active,2023-09-18 09:55:00,2023-09-18 13:59:00,4:04,09/10/23,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588
1466,WFS000588,Active,2023-09-18 14:29:00,2023-09-18 19:39:00,5:10,09/10/23,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588
1467,WFS000588,Active,2023-09-19 10:25:00,2023-09-19 14:30:00,4:05,09/10/23,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588

In [17]:
consecutive_days_7 = []
less_than_10_hours_between_shifts = []
more_than_14_hours_single_shift = []

In [22]:
for employee, employee_data in df.groupby('Employee Name'):

        # Check for consecutive days worked
        consecutive_days = employee_data['Time'].diff().dt.days == 1
        consecutive_days_count = consecutive_days.astype(int).groupby(consecutive_days.cumsum()).cumsum()

        if any(consecutive_days_count >= 6):
            consecutive_days_7.append((employee, employee_data.iloc[0]['Position ID']))

        # Check for less than 10 hours between shifts
        time_between_shifts = (employee_data['Time'] - employee_data['Time Out'].shift()).dt.total_seconds() / 3600
        less_than_10_hours = (time_between_shifts < 10) & (time_between_shifts > 1)

        if any(less_than_10_hours):
            less_than_10_hours_between_shifts.append((employee, employee_data.iloc[0]['Position ID']))

In [36]:
for employee, employee_data in df.groupby('Employee Name'):
    employee_data['Timecard Hours (as Time)'] = pd.to_numeric(employee_data['Timecard Hours (as Time)'], errors='coerce')

    
    # Check for more than 14 hours in a single shift
    more_than_14_hours = employee_data['Timecard Hours (as Time)'] > 14

    if any(more_than_14_hours):
        more_than_14_hours_single_shift.append((employee, employee_data.iloc[0]['Position ID']))

In [40]:

print("Employees who have worked for 7 consecutive days:")
for employee, position_id in consecutive_days_7:
    print(f"{employee} - Position ID: {position_id}")

Employees who have worked for 7 consecutive days:

In [41]:
print("\nEmployees who have less than 10 hours between shifts but greater than 1 hour:")
for employee, position_id in less_than_10_hours_between_shifts:
    print(f"{employee} - Position ID: {position_id}")

Employees who have less than 10 hours between shifts but greater than 1 hour:
CEreira Jr, JEse - Position ID: WFS000456
CaMaXaWE, CeghaW - Position ID: WFS000153
De Xa Cerda, IgWaciE - Position ID: WFS000318
DeXgadiXXE REdarMe, ChrisMiaW S - Position ID: WFS000523
HaCiXMEW, DeaWMe DevEW - Position ID: WFS000536
MraW, WiXXiaC Ha - Position ID: WFS000345
REdrigAez, GraWdEW AWgeX - Position ID: WFS000550
Xee, XaCar - Position ID: WFS000200

In [39]:
print("\nEmployees who have worked for more than 14 hours in a single shift:")
for employee, position_id in more_than_14_hours_single_shift:
    print(f"{employee} - Position ID: {position_id}")

Employees who have worked for more than 14 hours in a single shift: